@charset "utf-8";

mi-boton {
    padding: 10px;
    border: 5px solid green;
}
body{
    padding: 1em;
}

button {
    padding: 10px;
    font-weight: bold;
}

mi-mensaje{
    display: block;
    padding: 10px;
    border: 5px solid black;
    margin-bottom: 10px;
}