
.cabeza{
    color: #eedad1;
    text-align: left;
    padding-left: 2em;
}
.cabeza2{
    color: #eedad1;
    text-align: left;
    padding-left: 2em;
    padding-right: 1em;
}
.bg-primary{
    background-color: #383e56;
}
.bg-second{
    background-color: #f69e7b;
}

.text-second {
    color: #eedad1;
}

.text-primary{
    color: #383e56;
}

.boton{
    color: #384456;
}

.ancho{
    width: 100%;
}

.center{
    text-align: center;
}

.width-100 {
    width: 100px;
}
.width-200 {
    width: 200px;
}

.info{
    background-color: #d4b5b0;
}

.foot{
    text-align: top;
}

.junto {
    text-align: center;
    display: flex;
}

table{
    margin: auto;
}

